<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wephotos.webwork.config.mapper.ConfigMapper">

	<resultMap id="BaseResultMap" type="com.github.wephotos.webwork.config.entity.Config">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="profile" property="profile" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<!-- 获取当前最大序号 -->
	<select id="getMaxSort" resultType="int">
		select
		  (IFNULL(MAX(sort), 0) + 1) SORT
		from
		  sys_config
	</select>
	
	<!--分页 -->
	<select id="pageList" resultMap="BaseResultMap">
		SELECT
		  id,
		  name,
		  value,
		  profile,
		  sort
		FROM
		  sys_config
		<where>
			<include refid="pageCond" />
		</where>
		<include refid="orderBy" />
		LIMIT #{start}, #{size}
	</select>

	<!--分页总数 -->
	<select id="pageCount" resultType="java.lang.Long">
		SELECT
		  count(1)
		FROM
		  sys_config
		<where>
			<include refid="pageCond" />
		</where>
	</select>

	<!--查询条件 -->
	<sql id="pageCond">
		<if test="condition != null">
			<if test="condition.profile != null and condition.profile != ''">
				AND profile = #{condition.profile,jdbcType=VARCHAR}
			</if>
			<if test="condition.name != null and condition.name != ''">
				AND name LIKE CONCAT('%', #{condition.name,jdbcType=VARCHAR}, '%')
			</if>
		</if>
	</sql>

	<!-- 排序 -->
	<sql id="orderBy">
		ORDER BY
		<choose>
			<when test="sortField != null and sortField !=''">
				${sortField}
				<if test="sortOrder != null and sortOrder !=''">
					${sortOrder}
				</if>
			</when>
			<otherwise>
				sort ASC
			</otherwise>
		</choose>
	</sql>
</mapper>