<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wephotos.webwork.logging.mapper.WebworkLogMapper">
    <sql id="Base_Column_List">
        id, name, ip, operator, level, browser, url, create_time, content, stack_trace
    </sql>

    <resultMap id="BaseResultMap" type="com.github.wephotos.webwork.logging.entity.WebworkLog">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="stack_trace" property="stackTrace" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" parameterType="com.github.wephotos.webwork.logging.entity.WebworkLog">
        insert into webwork_log(id, name, ip, operator, level, browser, url, create_time, content, stack_trace)
        values (#{id}, #{name}, #{ip}, #{operator}, #{level}, #{browser}, #{url}, #{createTime}, #{content}, #{stackTrace})
    </insert>
    
    <select id="pageCount" resultType="int" parameterType="com.github.wephotos.webwork.http.Pageable">
    	SELECT 
    	  COUNT(1) 
    	FROM 
    	  webwork_log
    	<where>
    		<include refid="pageCond" />
    	</where>
    </select>
    <select id="pageList" resultMap="BaseResultMap" parameterType="com.github.wephotos.webwork.http.Pageable">
    	SELECT 
    	  <include refid="Base_Column_List" />
    	FROM 
    	  webwork_log
    	<where>
    		<include refid="pageCond" />
    	</where>
    	ORDER BY 
    	  create_time DESC
    	LIMIT 
    	  #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
    </select>
    <sql id="pageCond">
    	<if test="condition != null">
    		<if test="condition.level != null">
    			AND level = #{level, jdbcType=VARCHAR}
    		</if>
    		<if test="condition.ip != null and condition.ip != ''">
    			AND ip = #{ip, jdbcType=VARCHAR}
    		</if>
    		<if test="condition.name != null and condition.name != ''">
    			AND name LIKE CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
    		</if>
    		<if test="condition.url != null and condition.url != ''">
    			AND url LIKE CONCAT('%', #{url, jdbcType=VARCHAR}, '%')
    		</if>
    		<if test="condition.content != null and condition.content != ''">
    			AND content LIKE CONCAT('%', #{content, jdbcType=VARCHAR}, '%')
    		</if>
    	</if>
    </sql>
</mapper>